{% extends 'base.html' %}
{% block title %} Про нас - Airbnb {% endblock %}
{% block content %}
<h1>Про Нас</h1>
<p></p>
<p>Ласкаво просимо до нашої Airbnb компанії — ініціативи, створеної для допомоги переселенцям у пошуку доступного житла. 
    Ми розуміємо, що у важкі часи, коли багато людей змушені покидати свої домівки, пошук безпечного та комфортного місця для проживання стає надзвичайно складним завданням.</p>

<p style="font-weight: bold;">Наша мета</p>
<p>Основна проблема, яку ми вирішуємо, полягає в тому, що багато переселенців не можуть дозволити собі оплатити квартиру або готель.
    З цим пов’язані труднощі, які можуть ускладнити їхнє життя в новому місті. 
    Тому ми створили платформу, що допомагає поєднувати людей, які потребують житла, із тими, хто готовий надати його безкоштовно.</p>

<p style="font-weight: bold;">Чому обирають нас?</p>
<p>• Доступність: Ми пропонуємо простий і зрозумілий спосіб знайти житло без фінансових зобов'язань.</p>
<p>• Спільнота: Наша платформа з'єднує доброзичливих людей, готових допомогти одне одному в непрості часи.</p>
<p>• Підтримка: Ми прагнемо створити атмосферу взаємодопомоги, де кожен може знайти підтримку і комфорт у новому середовищі.</p>

<p style="font-weight: bold;">Приєднуйтесь до нас</p>
<p>В нашій компанії ми віримо, що разом ми можемо зробити світ кращим. 
    Долучайтеся до нашої спільноти, щоб допомогти переселенцям знайти своє місце в новому місті. 
        Ваш внесок може змінити життя людей на краще!</p>

{% endblock %}