{% extends 'base.html' %}

{% block title %} Користувачі {% endblock %}

{% block content %}

<h1>Користувачі</h1>

<table class="table">
    <thead>
        <tr>
            <th>Ім'я</th>
            <th>Роль</th>
            <th>Дія</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>
                {% if user.is_admin %}
                    <span>Admin</span>
                {% else %}
                    <span>User</span>
                {% endif %}
            </td>
            <td>
                {% if current_user.is_admin and user.id != current_user.id %}
                    <form  method="post" action="{{ url_for('toggle_admin', user_id=user.id)  }}">
                        <button type="submit" class="btn btn-sm {% if user.is_admin %} btn-danger {% else %} btn-primary {% endif %}">
                            {% if user.is_admin %}
                                Revoke Admin
                            {% else %}
                                Make Admin
                            {% endif %}
                        </button>
                    </form>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}