{% extends 'base.html' %}

{% block title %} Вхід {% endblock %}

{% block content %}
<h1>Вхід</h1>
<form method="POST" action="/login">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        <label for="username" class="form-label">Ваше ім'я:</label>
        {{ form.username(class="form-control") }}
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Ваш пароль:</label>
        {{ form.password(class="form-control") }}
    </div>
    <button type="submit" style="margin-bottom: 70px;" class="btn btn-primary">Ввійти</button>
</form>
{% endblock %}